@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: Montserrat, sans-serif;
}

section {
  margin: 12px 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  margin: 24px 12px;
}

ul li {
  font-size: 14px;
  margin-bottom: 6px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  background: rgb(255, 218, 95);
}

.tc {
  text-align: center;
}

.mt3 {
  margin-top: 1rem;
}

.h5 {
  height: 30rem;
}

img {
  border-radius: 4px;
  width: 10rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
