.container {
  width: auto;
  margin: auto;
  text-align: center;
}

.counter {
  margin: auto;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 100px;
}

table tr td, table tr th {
  border: 1px solid black;
  padding: 12px
}
